.placeholder-camera {
	width: 200px;
	color: gray;
}
#imageDiv{
    background-color: gray;
}
.card{
	margin-top: 0px;
	margin-bottom: 0px;

}
video{
	margin: 0 auto;
}
.modal {
	max-width: 35% !important;

}
.posterBtn{
	position: relative;
	top: 50px;
	right: -10px;
}