.placeholder-camera {

	width: 200px;
	color: gray;

}

#imageDiv {

    background-color: gray;
}

.card {

	margin-top: 0px;
	margin-bottom: 0px;

}

.modal {

	max-width: 45% !important;
}

.card-title {

	font-size: 100px;
	font-weight: bolder;

}

.movie-div {

	position: relative;

}

.movie-button {

    position: absolute;
    bottom: 5%;
    right: 8%;
    border-radius: 50%;

}

body {

	background-color: #616161;

}

nav .brand-logo {

  font-weight: lighter;
  font-stretch: condensed;
  font-size: 2.75rem;

}

.navbar-fixed {
  height: 66px;
}

@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    min-height: 74px;
  }
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 74px;
    line-height: 74px;
  }
  .navbar-fixed {
    height: 74px;
  }
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {

  color: #f44336;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {

  color: #e57373;
}
